parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '{^Class [a-zA-Z0-9\\_]+Function has an uninitialized readonly property \$(parent|root|children). Assign it in the constructor.$}'